<h1>Listing messages</h1>

<table>
  <tr>
    <th>User</th>
    <th>Message text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<ul id="chat_container">

<% @messages.each do |message| %>
  <tr>
    <td><%= message.user %></td>
    <td><%= message.message_text %></td>  
  </tr>
<% end %>
</ul>
</table>

<br />

<%= render 'form' %>
